.perspective {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .flip-card {
    transition: transform 1s ease-in-out; /* Adjust this duration as needed */
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  